.wrapper {
    width: 356px;
    min-height: 430px;
    max-height: 670px;
    background-color: var(--white-color);
    margin: 15px 0;
    padding: 0 40px;
    border-radius: var(--border-radius);
}
